@import "reset.css";

@import "base.css";
@import "layout.css";
@import "utilities.css";

@import "components/search-bar/search-bar.css";
@import "components/ns-traffic-lights/ns-traffic-lights.css";
@import "components/ns-title-bar/ns-title-bar.css";
@import "components/ns-toolbar/ns-toolbar.css";
@import "components/ns-list/ns-list.css";
@import "components/ns-text-field/ns-text-field.css";

:root {
  --lightgray: #E7E7E7;
  --blue: #006DFE;

  --color-background: white;
  --color-foreground: black;
  --color-border: var(--lightgray);

  --color-text-field-background: var(--lightgray);
  --color-text-field-background-focus: var(--blue);

  --font-family: 'Helvetica', sans-serif;
}
