.layout-horizontal,
.layout-vertical {
  display: flex;
}

.layout-horizontal {
  flex-direction: row;
}

.layout-vertical {
  flex-direction: column;
}

.layout-flex {
  flex: 1;
}

.layout-between-justified {
  justify-content: space-between;
}

.layout-center-aligned {
  align-items: center;
}
