*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: sans-serif;
}
