.ns-list__item {
  padding: 13px 13px 14px;
  position: relative;
}

.ns-list__item:last-child {
  border-bottom: none;
}

.ns-list__item:after {
  background: #E7E7E7; /* TODO: Use variable var(--color-border) */
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 0;
  width: calc(100% - 13px);
}
