<div class="ns-traffic-lights__item ns-traffic-lights__item--red u-app-region--no-drag"></div>
<div class="ns-traffic-lights__item ns-traffic-lights__item--orange u-app-region--no-drag"></div>
<div class="ns-traffic-lights__item ns-traffic-lights__item--green u-app-region--no-drag"></div>
