<div class="ns-traffic-lights__item ns-traffic-lights__item--red"></div>
<div class="ns-traffic-lights__item ns-traffic-lights__item--orange"></div>
<div class="ns-traffic-lights__item ns-traffic-lights__item--green"></div>
