<div class="layout-vertical layout-fit">
  {{#ns-titlebar classNames='u-app-region--drag'}}
    {{ns-traffic-lights}}

    {{#ns-toolbar}}
      <section class="ns-toolbar__section layout-flex">
        {{ns-text-field placeholder='Search Canvases' classNames="u-app-region--no-drag"}}
      </section>
    {{/ns-toolbar}}
  {{/ns-titlebar}}

  {{ns-list content=model classNames="layout-flex"}}
</div>
