{{#ns-titlebar}}
  {{ns-traffic-lights}}

  {{#ns-toolbar}}
    <section class="ns-toolbar__section layout-flex">
      <div class="search-bar">Search bar</div>
    </section>
  {{/ns-toolbar}}
{{/ns-titlebar}}

<h3>Recent Files</h3>
<ul>
  {{#each files as |file|}}
    <li>{{file}}</li>
  {{/each}}
</ul>

{{outlet}}
