<div class="layout-horizontal">
  {{ns-traffic-lights}}

  <div class="search-bar layout-flex">
    Search bar
  </div>
</div>

<h3>Recent Files</h3>
<ul>
  {{#each files as |file|}}
    <li>{{file}}</li>
  {{/each}}
</ul>

{{outlet}}
